@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo ao Sistema LH-PET</h1>
    <p>Para navegar entre os modulos do sistema, basta escolher a opção no menu acima. </p>
</div>
